<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Book</button>
<br/><br/>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="id" class="col-form-label" hidden>id</label>
            <input type="text" class="form-control" id="id" hidden>
          </div>
          <div class="mb-3">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Edition</label>
            <input type="text" class="form-control" id="edition">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Author</label>
            <input type="text" class="form-control" id="author">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="addBook" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>